* {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
}

body {
  background: #262626;
  font-family: 'Roboto', sans-serif;
}

.container-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}

.imagem {
  display: inline-block;
  padding: 12px;
  background: linear-gradient(130deg, #2b2b2b, #777777);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  box-shadow: 1px 1px 10px;
}

.imagem img {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  margin-top: 20px;
}

.user {
  margin: 5px;
  color: #e2d132;
}

.container-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(2, 320px);
  grid-template-rows: repeat(2, 175px);
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  margin-top: 40px;
  transition: .5s;
  text-transform: capitalize;
}

.container-grid .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-github {
  background: #414141;
  border-radius: 10px;
  display: flex;
}

.card-linkedin {
  background: #414141;
  border-radius: 10px;
}

.card-instagram {
  background: #414141;
  border-radius: 10px;
}

.card-twitter {
  background: #414141;
  border-radius: 10px;
  display: flex;
}

.card:hover:nth-child(1) {
  background: #808080;
  transition: .5s;
}

.card:hover:nth-child(2) {
  background: #808080;
  transition: .5s;
}

.card:hover:nth-child(3) {
  background: #808080;
  transition: .5s;
}

.card:hover:nth-child(4) {
  background: #808080;
  transition: .5s;
}

.card-github a,
.card-linkedin a,
.card-instagram a,
.card-twitter a {
  padding: 50px 125px;
  text-align: center;
  text-decoration: none;
}

p {
  font-size: 1.2em;
}

.fa-github,
.fa-linkedin-in,
.fa-instagram,
.fa-briefcase {
  font-size: 2.5em;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(1, 350px);
  }
}
